<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>140629869168-0b16d63qg9388u6huh9gqsmajhb7i5c0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140629869168-0b16d63qg9388u6huh9gqsmajhb7i5c0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>140629869168-18vv18vgriqo33l554gbammtk09la7rc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBpUH3iILDBbVj_BWPe5t5Kpu0gNxGu8DM</string>
	<key>GCM_SENDER_ID</key>
	<string>140629869168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sodvendor.di4l.vn.ios</string>
	<key>PROJECT_ID</key>
	<string>sod-di4l</string>
	<key>STORAGE_BUCKET</key>
	<string>sod-di4l.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140629869168:ios:db9f76c2ab205f6d332ab5</string>
</dict>
</plist>