<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>generateAppStoreInformation</key>
	<false/>
	<key>manageAppVersionAndBuildNumber</key>
	<true/>
	<key>method</key>
	<string>app-store-connect</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>Z9RS2YDHZT</string>
	<key>testFlightInternalTestingOnly</key>
	<false/>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>

error: Build input file cannot be found: '/Volumes/Data/development/Developer/Xcode/UserData/Provisioning Profiles/a82c2179-4f2f-4413-a341-fb8da59b79f2.mobileprovision'. Did you forget to declare this file as an output of a script phase or custom build rule which produces it? (in target 'Runner' from project 'Runner')
