<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376662777264-mn73b9ka6i691shad80t2ra52u7dk8o8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376662777264-mn73b9ka6i691shad80t2ra52u7dk8o8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>376662777264-h741g3ufftd89emnj11htb82tjhep0r6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA0b3JWSwkwNG74d9PSmJQO299CFfd6mt8</string>
	<key>GCM_SENDER_ID</key>
	<string>376662777264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>suc365user.di4l.vn.ios</string>
	<key>PROJECT_ID</key>
	<string>suc365-di4l</string>
	<key>STORAGE_BUCKET</key>
	<string>suc365-di4l.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376662777264:ios:5c100bc735efd359fb8a75</string>
</dict>
</plist>