<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410558250906-fltck3q1mrctroe7hhc77uqtnit0a5gb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410558250906-fltck3q1mrctroe7hhc77uqtnit0a5gb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>410558250906-38n6uiaernd5v0plg8oo2sd377iv5uu4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALdR_sD3QAUoIzJuaPKyEjFLoRRcApT8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>410558250906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vendor.goingship.vn.ios</string>
	<key>PROJECT_ID</key>
	<string>goingship-4ded6</string>
	<key>STORAGE_BUCKET</key>
	<string>goingship-4ded6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410558250906:ios:ed2cdbc487c4a28ecc0423</string>
</dict>
</plist>